*{
    font-family: 'Lilly', sans-serif;
}

.Menu{
        margin-top: 2%;
        margin-bottom: 2%;
        padding-right: 2%;
        text-align: right;
}
    
a{
    padding-left: 2%;
}

footer{
    padding-top: 1%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;    background-color: #282828;
}
